#boutton-Bienvenue
{
	-fx-text-fill: red;
	-fx-font-family: "Arial Narrow";
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6) , 5, 0.0, 0, 0, 1 );
}

.root
{
	-fx-background-image: url("earth.jpg");
}
